   a {
       display: flex;
       justify-content: center;
       align-items: center;
       text-decoration: none;
       width: 101px;
       height: 38px;
       color: white;
       border: none;
       clip-path: polygon(20% -2%, 125% 0px, 80% 100%, -20% 100%);
   }

   a:active {
       transform: rotateY(360deg);
       transition: transform .4s ease-out, color .4s ease-out;
   }