.characters {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 318px 318px 318px;
    grid-gap: 25px;

    &__item {
        background: #232222;

        img {
            max-width: 200px;
            height: 190px;
            display: block;
            margin: 0 auto;
        }

        &__name {
            font-size: 22px;
            font-weight: 700;
            margin: 15px 0 0 15px;
            color: white;
        }
    }
}