@import '../../styleVariables/styleVariables.scss';

.header {
    h2 {
        font-weight: 700;
        font-size: 28px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        font-size: 24px;
        max-width: 1160px;

        a {
            text-decoration: none;
            color: black;
        }

        .active {
            color: $base-color;
        }
    }
}