* {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  margin: 0 174px 0 166px;
}

.charactersBlock {
  margin: 45px 0 45px 0;
}

.charactersBlock__content {
  display: grid;
  grid-template-columns: 650px 425px;
  grid-gap: 50px;
  align-items: self-start;
}